<div class="page-header">
  <h1>QnA Forum Questions</h1>
</div>
<div style="float:left;">
  <div style="margin-bottom: 10px;">
    <%= link_to 'Ask Question', new_question_path ,:class=> 'btn'%>
  </div>

  <table style="width: 630px;">
    <tr>
      <th>Question</th>
      <th>Rank</th>
      <th>Answers</th>
    </tr>

    <% @questions.each do |question| %>
      <tr>
        <td>
          <%= link_to question.header, question %><br/>
          <small style="color:  #999999;"><%= truncate(question.question, :length => 100, :omission => '...') %></small>
        </td>
        <td><%= question.rank %></td>
        <td><%= question.answers.count %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @questions %>
</div>
