<p id="notice"><%= notice %></p>
<div class="page-header question-block">
  <div id="item-ranking">
    <ul class="ranking-block">
      <li><a class="vote-up-off" title="This question shows research effort; it is useful and clear (click again to undo)"><%= image_tag('up.jpg') %></a></li>
      <li class="rank-voted"><%= @question.rank %></li>
      <li><a class="vote-down-off" title="This question does not show any research effort; it is unclear or not useful (click again to undo)"><%= image_tag('down.jpg') %></a></li>
    </ul>    
  </div>
  <h2><%= @question.question %></h2>


  <%= link_to 'Edit', edit_question_path(@question) %> |
  <%= link_to 'Back', questions_path %>
</div>



<p>
<h2> Answers</h2><br />
<% @answers.each do |ans| %>
  <div class="question-block page-header">
    <div id="item-ranking">
      <ul class="ranking-block">
        <li><a class="vote-up-off" title="This question shows research effort; it is useful and clear (click again to undo)"><%= image_tag('up.jpg') %></a></li>
        <li class="rank-voted"><%= @question.rank %></li>
        <li><a class="vote-down-off" title="This question does not show any research effort; it is unclear or not useful (click again to undo)"><%= image_tag('down.jpg') %></a></li>
      </ul>
    </div>
    <p>
      <%= h(ans.answer) %><br /><br />
      <%= link_to 'Edit', edit_question_answer_path(@question,ans) %> |
      <%= link_to 'Destroy', [@question,ans], confirm: 'Are you sure?', method: :delete %>
    </p>
  </div>
<%end%>
</p>

<br />
<br /><br />
<h2>Post new answer here</h2>
<%= form_for([@question,@answer],:html => {:class => 'well'}) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
        <% @answer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :answer ,:class => 'control-label',:style => 'padding-right:10px;'%>
  <%= f.text_area :answer ,{:class => 'input-xlarge',:rows => "7"} %>
  <div class="actions">
    <%= f.submit ("Post Answer")%>
  </div>
<% end %>